@import url(https://fonts.googleapis.com/css?family=Orbitron:regular,500,600,700,800,900);
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  position: relative;
  width: 100vw;
  height: 100vh;
  color: #fff;
}
a {
  text-decoration: none;
}
ol,
ul,
menu,
summary {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

.container {
  padding-top: 4rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.search-form {
  display: flex;
  gap: 10px;
}
.search-input {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  width: 25rem;
  border-radius: 50px;
  border: 1px saddlebrown solid;
}
.search-input > i {
  font-size: 1.2rem;
}
.search-input:hover {
  box-shadow: 1px 1px 10px 10px saddlebrown;
  transition: all 0.5s ease-in-out;
}

#search {
  padding: 10px;
  width: 100%;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  font-size: 0.8rem;
}
#search::placeholder {
  color: white;
  opacity: 0.5;
  text-transform: capitalize;
  font-size: smaller;
}

.button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.button > i {
  font-size: 1.2rem;
}
.button:hover {
  scale: 1.2;
  transition: all 0.5s ease-in-out;
}
.bookmarks-container {
  padding: 20px;
  min-width: 40rem;
}
.bookmarks {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
}
.bookmarks > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}
.bookmarks > li > i {
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(32, 33, 36, 1);
  color: white;
}
.bookmarks > li > a {
  color: white;
  font-size: 0.6rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-family: "Orbitron", sans-serif;
}

@media only screen and (max-width: 768px) {
  body{
    height: auto;
  }
  .search-input {
    width: 100%;
  }

  .button {
    margin-top: 1rem;
  }
  .bookmarks {
    grid-template-columns: repeat(2, 1fr);
  }
}